* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(20, 20, 20);
    background-image: url('./background-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.content{
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    place-items: center;
    background-color: rgba(2, 1, 1, 0.507);
    min-width: 320px;
   
    
}

header {
    background-color: rgba(2, 1, 1, 0.507);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 150;
    min-width: 320px;
    
}

.logo{
    font-family: 'Pacifico', cursive;
    color: tomato;
    letter-spacing: 1.5px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 2rem;
    
}

.nav-menu {
    display: flex;
    list-style: none;
    justify-content: space-between;


}

@media(max-width:720px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 80.3px;
        flex-direction: column;
        align-items: center;
        background-color: rgba(2, 1, 1, 0.507);
        width: 100%;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.5);
        transition: .3s;
    }

    .nav-menu.active {
        left: 0;
    }

    

}

.list-item {
    margin-left: 2.5rem;
    min-width: 80px;
    text-align: center;
   

}

@media(max-width:720px) {
    .list-item {
        margin-left: 0;
        text-align: center;

        width: inherit;
        vertical-align: middle;
        font-size: 0.8rem;
        cursor: pointer;
    }


}

.nav-btn {
    border: none;
    width: inherit;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    font-size: clamp(0.8rem, calc(5px + 1.4vw), 1.1rem);
    font-weight: 600;
    text-transform:capitalize;
    text-align: center;
    color: thistle;
    transition: 0.2s;
}

.nav-btn:hover{
    color: rgb(219, 135, 219);
}



@media (max-width:720px) {
    .nav-btn{
        padding: 0.8rem 0;
    }

    .nav-btn:hover{
        background-color: rgba(2, 1, 1, 0.507);
    }
    
}



.toggle-btn {
    display: none;
    font-size: 1.2rem;
    cursor: pointer;
    z-index: 99;
    background-color: transparent;
    background-image: url('./menu.svg');
    object-fit: contain;
    color: transparent;
    outline: none;
    border: none;
    height: 32px;
    width: 32px;
    

}

@media (max-width:720px) {
    .toggle-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        right: 1.2rem;

    }
}

main{
    display: flex;
    flex-direction: column;
    min-height: 95vh;
    width: 80%;
    max-width: 920px;
    justify-content: center;
    align-items: center;
    color: rgb(216, 191, 216);
    min-width: 280px;
    padding: 0 0.5rem;
    
    
}

@media (max-width:520px) {
    main{
        width:95%;
    }
    
}

.home-section{
     height: 50vh;
     margin-top:5rem;
     
    
}

@media (max-width:500px) {
    .home-section{
    }
}

.section-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-heading{
    font-size: clamp(20px, 4px + 3vw, 3rem);
    text-transform: capitalize;
    margin-bottom: 10px;
    font-family: 'Merriweather', serif;
    font-weight: 900;
    color: tomato;
    text-align: center;
}

.section-text{
    font-size: 1.1rem;
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.5;
    color: hsl(300, 24%, 80%);
    margin-bottom: 1.5rem;
    text-align: center;
    width: 70%;

}

@media (max-width:720px) {
    .section-text{
        width: 95%;
        font-size: 0.8rem;
    }
    
}

.view-menu-btn{
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    background-color: tomato;
    color: rgb(223, 200, 223);
    padding: 0.5rem 1rem;
    text-align: center;
    border-radius: 3px;
    width: 125px;
    align-self: center;
    transition: 0.2s;
   
}

@media (max-width:720px) {
    .view-menu-btn{
        font-size: 0.7rem;
        width: 100px;
    }
    
}

.view-menu-btn:hover{
    background-color: transparent;
    border: solid 2px tomato;
    color: thistle;
}




footer {
    display: flex;
    justify-content: space-between;
    color: thistle;
    font-family: 'Noto Sans', sans-serif;
    padding: 1.5rem 2rem 1rem 2rem;
    width: 100%;
    background-color: rgba(2, 1, 1, 0.507);
}

@media (max-width:720px) {
    footer{
        flex-direction: column;
    }
}

.social{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    
}

@media (max-width:720px) { 
    .social{
        font-size: 0.8rem;
    }
}

.fab{
    display: inline-block;
    margin-left: 1rem;
    font-size: 1.2rem;
    color: thistle;
    transition: 0.2s ease-in;
}

.fab:hover{
    color: rgb(219, 135, 219);
    transform: scale(1.5);
}

footer img{
    width: 50px;
    height: 25px;
    display: inline-block;
}

.powered-by{
    display: flex;
    justify-content: flex-end;
    font-size: 0.8rem;
}

@media (max-width:720px) {
    .powered-by{
        justify-content: center;
        align-items: center;
        font-size: 0.7rem;
        margin-top: 0.5rem
    }
}
.menu-section{
    width: 90%;
    max-width: 920px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 105px;
    margin-bottom: 1rem;

    
}

.food-image{
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;

}

.menu-detail{
    background-color: rgba(0, 0, 0, 0.45);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    font-size: 0.8rem;
    font-family: 'Noto Sans', sans-serif;
    padding: 0.8rem 0.4rem;
    transition: 0.2s;
    color: hsl(300, 24%, 80%);
    display: none;

}

@media (max-width:720px) {
    .menu-detail{
        display: block;
    }
    
}

.food-menu{
    display: flex;
    flex-direction: column;
    width: 35%;
    min-width: 200px;
    border: solid purple 3px;
    background-color: rebeccapurple;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
    
}

.food-menu:hover .menu-detail{
    left: 0;
    display: block;
}
/* contact section styles */
.contact-section{
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: rgba(2, 1, 1, 0.507);
    border-radius: 8px;
    margin-top: 100px;
    margin-bottom: 1rem;
    
    
}

.contact-header{
    margin-bottom: 1.5rem;
    font-family: 'Merriweather', serif;
    color: tomato;
    font-size: clamp(20px, 4px + 3vw, 3rem);
}

.contact-wrap{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 0 auto;
    width: inherit;
    border-radius: 8px;
    width: inherit;   
}

@media (max-width:720px) {
    .contact-wrap{
        width: 100%;
    }
    
}

form{
    width: 90%;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
    font-family: 'Noto Sans', sans-serif;
}



form input::placeholder{
    font-family: 'Noto Sans', sans-serif;
}

form input, textarea{
    outline: none;
    display: inline-block;
    padding: 0.4rem 0.5rem;
    border: tomato solid 2px;
    border-radius: 3px;
    width: 100%;
    background-color: transparent;
    color: thistle;
    font-size: 1rem;
}

input[type ='submit']{
    background-color: tomato;
    margin-top: 0.4rem;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    min-width: 5.3rem;
}

@media (max-width:720px) {
    form{
        font-size: 0.8rem;
    }

    form input::placeholder{
        font-size: 0.8rem;
    }
    
}

.get-intouch{
    width: 90%;
    display: flex;
    color: thistle;
    padding:1rem;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
}

.contact-details{
    color: thistle;
    align-self: flex-start;
    font-family: 'Noto Sans', sans-serif;
    padding: 0 0 0 1rem;
}

.contact-details p{
    font-size: 1rem;
}

.contact-details i{
    color: rgb(219, 135, 219);
    margin-right: 0.3rem;
}

@media (max-width:720px) {
    .contact-details p{
        font-size: 0.8rem;
    }
    .contact-section{
        padding: 1rem;
    }
    .contact-wrap{
        grid-template-columns: 1fr;
    }
}

.contact-form > *{
    display: block;

}

